*{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(135deg, #8e40fa, #f08a4a);
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#input-box {
    margin-right: 10px;
}

.generate {
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#generate-button {
    width: 80px;
    height: 30px;
    background-color: #2cb05a;
    color: white;
    border: none;
    border-radius: 20px;
}

#generate-button:hover {
    background-color: #2d9953;
}

#imageLink {
    margin: 10px;
    display: flex;
    align-items: center;
}

#imageLink input {
    width: 500px;
    text-align: center;
    margin-right: 10px;
}

#copyButton {
    width: 110px;
    height: 30px;
    background-color: #2cb05a;
    color: white;
    border: none;
    border-radius: 20px;
}

#copyButton:hover {
    background-color: #2d9953;
}